<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Danh sách phòng trọ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Arial", sans-serif;
        padding: 40px;
      }
    </style>
  </head>
  <body class="text-gray-800">
    <div class="flex justify-center text-green-700">
      <h1>ĐỒ ÁN PHÒNG TRỌ</h1>
      <h3>số nhà 11 - Thôn Nam Hiệp - xã Nam Đà</h3>
      <br />
      <h3>Huyện Krông Nô - Tỉnh Đăk Nông</h3>
      <br />
      <h3>ĐT: 0962684418 - 09765552227</h3>
      <hr />
    </div>
    <div>
      <h1 class="text-3xl font-bold text-center text-green-600 mb-6">
        Danh Sách Phòng Trọ
      </h1>

      <table class="w-full border border-gray-300 text-sm">
        <thead class="bg-gray-100">
          <tr>
            <th class="border p-2 text-left">Tên phòng</th>
            <th class="border p-2 text-left">Tầng</th>
            <th class="border p-2 text-left">Kích thước</th>
            <th class="border p-2 text-left">Giá phòng</th>
            <th class="border p-2 text-left">Số người</th>
            <th class="border p-2 text-left">Toà nhà</th>
            <th class="border p-2 text-left">Địa chỉ</th>
          </tr>
        </thead>
        <tbody>
          {{#each phongTros}}
          <tr class="even:bg-gray-50">
            <td class="border p-2">{{tenPhong}}</td>
            <td class="border p-2">{{tang}}</td>
            <td class="border p-2">{{kichThuoc}} m²</td>
            <td class="border p-2">{{giaPhong}} VND</td>
            <td class="border p-2">{{soNguoiToiDa}}</td>
            <td class="border p-2">{{ToaNha.tenToaNha}}</td>
            <td class="border p-2">{{ToaNha.diaChi}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <footer class="mt-8 text-center text-xs text-gray-500">
      © 2025 Dũng Phòng Trọ. Tất cả quyền được bảo lưu.
    </footer>
  </body>
</html>
